@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply font-sans text-neutral-300 bg-[#09090b];
  }

  code, pre {
    @apply font-mono;
  }

  ::selection {
    @apply bg-amber-500/30 text-white;
  }
}
